<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .copyright {
        background-color: grey;

    }

    .text p {
        color: whitesmoke;
    }
</style>

<body>
    <br>
    <hr>
    <section class="copyright border">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text">© 2020 event-manager Software Pvt. Ltd.</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>