<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
        }

        h4 {
            text-align: center;

        }

        input {
            background: none;
        }



        .conta {
            width: 33%;
            margin: auto
        }

        .sub {
            text-align: center;
            margin: 15px 43px;
        }
    </style>
</head>

<body>
    <%- include('navbar.ejs'); %>
    <h1>Register Here</h1>
    <div class="conta">
        <div class=" cont">
            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <label for=" name">Name</label>
                    <input type="text" class="form-control" id="  name" name="name" placeholder="tony stark">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id='email' name="email" placeholder="ironman@avenger.com">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="google_id">Mobile Number</label>
                    <input type="text" class="form-control" id="google_id" name="google_id" placeholder="0123456789">
                </div>
                <div class="form-group">
                    <label for=" profile_photo">Profile Photo</label>
                    <input type="file" class="form-control" id="  profile_photo" name=" profile_photo">
                </div>
                <div class="button sub">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </form>
        </div>
        <%- include('footer.ejs') %>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>

</html>